.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.custom-logo {
    margin-bottom: 1.25rem; 
    max-width: 100%;
    height: auto;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.25rem; 
}

.vb-statusIcon--emphasis {
    background-color: #CDEBD7;
}

.vb-statusIcon--emphasis, .vb-statusIcon--disabled {
    color: #323232;
}

.vb-button--appearanceTertiary.vb-button--danger {
    color: #323232;
}